DJANGO_SECRET_KEY=notreallyasecretherebutyouareherereadingthis
DJANGO_STATIC_URL=/static/
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
GMAP_API_KEY=dummyvaluedonotuse
DB_NAME=prevalencemap
DB_HOST=db
DB_USER=ttprevmap
DB_PASSWORD=simonsnyc
FRONTEND_UNMINIFIED=True
