astroid==3.2.4
backports.functools-lru-cache==2.0
configparser==7.1.0
Django==3.2.5
django-environ==0.11.2
enum34==1.1.10
futures==3.1.1
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
psycopg2-binary
pylint==3.2.7
pytz==2024.2
singledispatch==4.1.0
six==1.16.0
wrapt==1.16.0
uWSGI==2.0.26
django-admin-ip-restrictor==2.2.0
django-ipware==3.0.7
django-admin-honeypot==1.1.0
django-inline-svg==0.1.1
django-ckeditor-5==0.2.13
Pillow==10.4.0