{% load static %}
{% load svg %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Global Autism Prevalence Map | The Transmitter">
    <meta name="twitter:description" content="The map features a collection of studies on autism prevalence around the world. It highlights places where information is available — and places where information is missing.">
    <meta name="twitter:image" content="https://autismprevalence.thetransmitter.org/static/autism_prevalence_map/img/PrevalenceMapSG.png">
    <meta property="og:title" content="Global Autism Prevalence Map | The Transmitter" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://autismprevalence.thetransmitter.org/" />
    <meta property="og:image" content="https://autismprevalence.thetransmitter.org/static/autism_prevalence_map/img/PrevalenceMapSG.png" />
    <meta property="og:description" content="The map features a collection of studies on autism prevalence around the world. It highlights places where information is available — and places where information is missing." />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% static '' as static_base %}
    <link rel="stylesheet" type="text/css" href="{{ static_base }}{{ style_sheet }}">

    {% block css_block %} {% endblock %}

    <link rel="icon" type="image/svg+xml" href="{% static 'autism_prevalence_map/img/favicon.svg' %}">

    <!-- Google Tag Manager -->
    <script>
        // Define dataLayer and the gtag function.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}

        gtag('consent', 'default', {
            'ad_storage': 'denied',
            'ad_user_data': 'denied',
            'ad_personalization': 'denied',
            'analytics_storage': 'denied'
        });
        gtag('consent', 'default', {
            'analytics_storage': 'granted',
            'region': ['US']
        });
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TVJ9V6L');

    </script>
    <!-- End Google Tag Manager -->

</head>

<body class='font-sans bg-tan' data-page='{% block page_name %}{% endblock %}'>

    <nav class="navbar navbar-expand-xl fixed-top navbar-light spectrum-gradient">
        <div class="left">
            <a class="navbar-brand" href="https://www.thetransmitter.org/">
                {% svg 'transmitter-logo' %}
                <span class='sr-only'>The Transmitter</span>
            </a>
        </div>
        <div class="middle">
            <a class="navbar-brand centered-title" href="#">
                <span class="navbar-brand-text">Global Autism Prevalence</span>
            </a>
        </div>
        <div class="right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#right-nav-container" aria-controls="right-nav-container" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="right-nav-container">
                <!-- <span class="mr-auto"></span> -->
                <ul class="nav nav-tabs mr-4">
                    <li class="nav-item">
                        <a id="map-link" class="nav-link {% if request.path == '/' %}active{% endif %} " href="{% url 'index' %}">Map</a>
                    </li>
                    <li class="nav-item">
                        <a id="list-link" class="nav-link {% if request.path == '/list/' %}active{% endif %}" href="{% url 'list_view' %}">List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <div class="input-group">
                        <input id="search" class="form-control spectrum-form" type="search" placeholder="Filter data by keyword" aria-label="Filter data by keyword">
                        <div class="input-group-append">
                            <span class="input-group-text spectrum-append"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <main class="h-[calc(100vh_-_4.5rem)] pt-3 pb-4">
        {% block body_block %} {% endblock %}
    </main>

    {% block modal_block %} {% endblock %}

    <!-- JS libraries
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="{% static 'autism_prevalence_map/vendor/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'autism_prevalence_map/vendor/js/popper.min.js' %}"></script>
    <script src="{% static 'autism_prevalence_map/vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'autism_prevalence_map/vendor/js/d3.v5.min.js' %}"></script>
    <script src="{{ static_base }}{{ script }}"></script>

    {% block js_block %} {% endblock %}
</body>

</html>
