{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@spectrum">
    <meta name="twitter:creator" content="@spectrum">
    <meta name="twitter:title" content="Global Autism Prevalence Map | Spectrum">
    <meta name="twitter:description" content="The map features a collection of studies on autism prevalence around the world. It highlights places where information is available — and places where information is missing.">
    <meta name="twitter:image" content="https://prevalence.spectrumnews.org/static/autism_prevalence_map/img/PrevalenceMapSG.png">
    <meta property="og:title" content="Global Autism Prevalence Map | Spectrum" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://prevalence.spectrumnews.org/" />
    <meta property="og:image" content="https://prevalence.spectrumnews.org/static/autism_prevalence_map/img/PrevalenceMapSG.png" />
    <meta property="og:description" content="The map features a collection of studies on autism prevalence around the world. It highlights places where information is available — and places where information is missing." />

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS libraries
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="stylesheet" href="https://use.typekit.net/hjy6pmo.css"> -->
    <script src="https://use.typekit.net/gnz4dab.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'autism_prevalence_map/vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Custom site-wide CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="{% static 'autism_prevalence_map/css/style.css' %}">

    {% block css_block %} {% endblock %}

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{% static 'autism_prevalence_map/img/favicon.png' %}">

    <!-- [Google Analytics/Optimize] -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>

    var stagingTrackingProperty = 'UA-8526335-27';
    var stagingOptimizeContainer = 'GTM-T96ZVZZ';

    var prodTrackingProperty = 'UA-8526335-18';
    var prodOptimizeContainer = 'GTM-K4R62V8';

    var trackingProperty = prodTrackingProperty;
    var optimizeContainer = prodOptimizeContainer;

    if (window.location.hostname.indexOf('staging') != -1){
        trackingProperty = stagingTrackingProperty;
        optimizeContainer = stagingOptimizeContainer;

        //page hiding snippet for staging
        (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
        })(window,document.documentElement,'async-hide','dataLayer',4000,
        {'GTM-T96ZVZZ':true});

    }else{

        //page hiding snippet for production
        (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
        h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
        (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
        })(window,document.documentElement,'async-hide','dataLayer',4000,
        {'GTM-K4R62V8':true});

    }

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', trackingProperty, 'auto');
    ga('require', optimizeContainer);
    ga('send', 'pageview');

    </script>
    <!-- [/Google Analytics and Optimize] -->

</head>

<body>
    <!-- Navbar
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <nav class="navbar navbar-expand-xl fixed-top navbar-light spectrum-gradient">
        <div class="left">
            <a class="navbar-brand" href="https://spectrumnews.org/">
                <img src="{% static 'autism_prevalence_map/img/spectrum-logo-white.png' %}" width="auto" height="40" class="d-inline-block" alt="">
            </a>
        </div>
        <div class="middle">
            <a class="navbar-brand centered-title" href="#">
                <span class="navbar-brand-text">Global Autism Prevalence</span>
            </a>
        </div>
        <div class="right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#right-nav-container" aria-controls="right-nav-container" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="right-nav-container">
                <!-- <span class="mr-auto"></span> -->
                <ul class="nav nav-tabs mr-4">
                    <li class="nav-item">
                        <a id="map-link" class="nav-link {% if request.path == '/' %}active{% endif %} " href="{% url 'index' %}">Map</a>
                    </li>
                    <li class="nav-item">
                        <a id="list-link" class="nav-link {% if request.path == '/list/' %}active{% endif %}" href="{% url 'list_view' %}">List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about/' %}active{% endif %}" href="{% url 'about' %}">About</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <div class="input-group">
                        <input id="search" class="form-control spectrum-form" type="search" placeholder="Filter data by keyword" aria-label="Filter data by keyword">
                        <div class="input-group-append">
                            <span class="input-group-text spectrum-append"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <main>
        {% block body_block %} {% endblock %}
    </main>

    {% block modal_block %} {% endblock %}

    <!-- JS libraries
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://use.typekit.net/gnz4dab.js"></script>
    <script src="{% static 'autism_prevalence_map/vendor/js/jquery-3.3.1.min.js' %}"></script> 
    <script src="{% static 'autism_prevalence_map/vendor/js/underscore-min.js' %}"></script>  
    <script src="{% static 'autism_prevalence_map/vendor/js/popper.min.js' %}"></script> 
    <script src="{% static 'autism_prevalence_map/vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'autism_prevalence_map/vendor/js/d3.v5.min.js' %}"></script>    

    {% block js_block %} {% endblock %}
</body>

</html>
