{% load svg %}

<footer class="bg-navy text-white">
    <section
        class="max-w-400 mx-auto grid grid-cols-4 gap-4 px-4 py-4 lg:grid-cols-12 lg:gap-8 lg:py-8 lg:px-22 2xl:px-17.5">
        <div class="mt-6 col-span-4 flex flex-col justify-between lg:col-span-12 lg:mt-12 lg:flex-row">
            <div
                class="flex flex-col font-sans font-bold text-2xs text-white items-center uppercase lg:w-73 lg:items-start">
                <div class="menu-footer-left-container">
                    <ul class="grid gap-4 mb-4 tracking-extra-wide text-center lg:text-start">
                        <li>
                            <a href="https://www.thetransmitter.org/./news/">News</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/./perspectives/">Perspectives</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/./features/">Features</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/./profiles/">Profiles</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/./beyond-the-bench/">Beyond the bench</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/./podcasts/">Podcasts</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/./videos/">Videos</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/./books/">Books</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/transmitter-books/"><em>The Transmitter</em> books</a>
                        </li>
                    </ul>
                </div> <a href="https://www.thetransmitter.org/spectrum/"
                    class="flex text-light-navy-2 w-25 gap-2 items-center hover:text-light-red lg:w-unset">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 lg:h-3.5 lg:w-3.5" width="13" height="14"
                        fill="none">
                        <path stroke="currentColor"
                            d="m1 1 3.238 6M1 1h8.095l3.238 6M1 1v6.26L4.238 13m0-6h8.095M4.238 7v6m8.095-6-8.095 6">
                        </path>
                    </svg> Spectrum
                </a>
                <div class="h-px w-full bg-white my-10 lg:hidden"></div>
            </div>
            <div
                class="font-serif font-light text-2xs text-white text-center flex flex-col gap-6 order-first lg:order-none lg:w-73">
                <p class="font-serif text-2md lg:text-3lg">
                    Have you recently published new research in neuroscience? </p>
                <span class="font-serif text-1sm lg:text-3sm">
                </span>
                <a class="font-sans text-2xs uppercase underline tracking-extra-wide hover:text-light-red lg:text-2sm lg:tracking-extra-wide"
                    href="https://www.thetransmitter.org/contact-us/">
                    Let us know </a>
                <div class="h-px w-full bg-white mt-4 mb-10 lg:hidden"></div>
            </div>
            <div
                class="flex flex-col font-sans gap-10 font-bold text-2xs text-white items-center uppercase lg:gap-12 lg:w-73 lg:items-end">
                <div class="menu-footer-right-menu-container">
                    <ul class="grid gap-4 tracking-extra-wide text-center lg:text-end">
                        <li>
                            <a href="https://www.thetransmitter.org/about/">About <em>The Transmitter</em></a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/staff/">The Team</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/partners/">Partners</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/newsletters-alerts/">Newsletters and alerts</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/events/">Events</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/courses/">Courses</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/announcements/">Announcements</a>
                        </li>
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-228097 hover:text-light-red">
                            <a
                                href="https://simonsfoundation.wd1.myworkdayjobs.com/simonsfoundationcareers?locations=2fad6d9e67381001b69a60511f0a0000&amp;jobFamilyGroup=5a680967794410df1c5fdbab78dd373e">Careers</a>
                        </li>
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-203493 hover:text-light-red">
                            <a href="https://www.thetransmitter.org/feed/">RSS</a>
                        </li>
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-222076 hover:text-light-red">
                            <a href="https://www.simonsfoundation.org/terms-and-conditions/">Terms and Conditions (Simons Foundation)</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/editorial-policies/">Editorial Policies</a>
                        </li>
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-222077 hover:text-light-red">
                            <a href="https://www.simonsfoundation.org/privacy-policy-online-publications/">Privacy Policy (Simons Foundation)</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/accessibility-statement/">Accessibility</a>
                        </li>
                        <li>
                            <a href="https://www.thetransmitter.org/contact-us/">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="h-px w-full bg-white lg:hidden"></div>
                <div class="flex flex-col gap-4 text-light-navy-2 font-light lg:items-end">
                    <div class="text-1xs2 lg:text-2xs">Follow The transmitter:</div>
                    <div class="flex gap-2">
                        <a class="group flex items-center justify-center border border-light-navy rounded w-10 h-10 cursor-pointer hover:bg-light-navy-2"
                            href="https://www.facebook.com/thetransmitternews" target="_blank" data-id="">
                            <span class="sr-only">Facebook - opens a new tab</span>
                            {% svg 'facebook' %}
                        </a>
                        <a class="group flex items-center justify-center border border-light-navy rounded w-10 h-10 cursor-pointer hover:bg-light-navy-2"
                            href="https://www.instagram.com/the_transmitter_news/" target="_blank" data-id="">
                            <span class="sr-only">Instagram - opens a new tab</span>
                            {% svg 'instagram' %}
                        </a>
                        <a class="group flex items-center justify-center border border-light-navy rounded w-10 h-10 cursor-pointer hover:bg-light-navy-2"
                            href="https://twitter.com/_thetransmitter" target="_blank" data-id="">
                            <span class="sr-only">X twitter - opens a new tab</span>
                            {% svg 'threads' %}
                        </a>
                        <a class="group flex items-center justify-center border border-light-navy rounded w-10 h-10 cursor-pointer hover:bg-light-navy-2"
                            href="https://linkedin.com/company/thetransmitter/" target="_blank" data-id="">
                            <span class="sr-only">Linkedin - opens a new tab </span>
                            {% svg 'linkedin' %}
                        </a>
                        <a class="group flex items-center justify-center border border-light-navy rounded w-10 h-10 cursor-pointer hover:bg-light-navy-2"
                            href="https://www.youtube.com/@The_Transmitter/" target="_blank" data-id="">
                            <span class="sr-only">Youtube - opens a new tab </span>
                            {% svg 'youtube' %}
                        </a>
                        <a class="group flex items-center justify-center border border-light-navy rounded w-10 h-10 cursor-pointer hover:bg-light-navy-2"
                            href="https://bsky.app/profile/thetransmitter.bsky.social/" target="_blank" data-id="">
                            <span class="sr-only">Bluesky - opens a new tab </span>
                            {% svg 'bluesky' %}
                        </a>
                        <a class="group flex items-center justify-center border border-light-navy rounded w-10 h-10 cursor-pointer hover:bg-light-navy-2"
                            href="https://mastodon.social/@thetransmitter/" target="_blank" data-id="">
                            <span class="sr-only">Mastodon - opens a new tab </span>
                            {% svg 'mastodon' %}
                        </a>
                    </div>
                </div>
                <div class="h-px w-full bg-white my-10 block lg:hidden"></div>
            </div>
        </div>
        <div class="col-span-12 h-px w-full bg-white my-10 hidden lg:block"></div>
        <div class="col-span-4 font-light font-sans text-sm tracking-wide-xl lg:col-span-6 lg:col-start-4">
            <div class="grid justify-items-center text-center gap-4">
                <a href="/">
                    {% svg 'transmitter-logo-white' %}
                    <span class="sr-only">Home</span>
                </a>
                <p class="font-serif text-1md tracking-tight-sm lg:text-lg lg:tracking-normal">Curating neuroscience,
                    connecting community</p>
                <p>An editorially independent publication supported by the Simons Foundation</p>
            </div>
        </div>
    </section>
</footer>
