{% extends 'autism_prevalence_map/base.html' %} 

{% load static %} 

{% block title %}Spectrum | Global Autism Prevalence Map{% endblock %} 

{% block body_block %}
<!-- Main Container
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container-fluid">    
    <div class="row">
        <div class="col-11">
            <!-- list 
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <div id="list" class="table-responsive spectrum-table">
                <table id="studies" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">YEAR</th>
                            <th scope="col">AUTHOR</th>
                            <th scope="col">COUNTRY</th>
                            <th scope="col">AREA</th>
                            <th scope="col">SAMPLE SIZE</th>
                            <th scope="col">PREVALENCE (PER 10,000)</th>
                            <th scope="col">95% CONFIDENCE INTERVAL</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">    
    <div class="row">
        <div class="col-11">
            <div class="container-fluid">    
                <div class="row">
                    <div id="width-check" class="col-4">
                </div>
            </div>
        </div>
    </div>
</div>           

{% include "autism_prevalence_map/action_buttons.html" with template="list" %}

{% endblock %}

{% block modal_block %} 
{% endblock %} 

{% block js_block %}
<!-- Mapping JS libraries
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{% static 'autism_prevalence_map/vendor/js/topojson.js' %}"></script>
<script src="{% static 'autism_prevalence_map/vendor/js/d3-array.v1.min.js' %}"></script>
<script src="{% static 'autism_prevalence_map/vendor/js/d3-geo.v1.min.js' %}"></script>
<script src="{% static 'autism_prevalence_map/vendor/js/d3-geo-projection.v2.min.js' %}"></script>

<!-- Custom JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  
<script>
    let min_yearpublished = "{{ min_yearpublished }}";
    let max_yearpublished = "{{ max_yearpublished }}";
    let yearsstudied_number_min = "{{ yearsstudied_number_min }}";
    let yearsstudied_number_max = "{{ yearsstudied_number_max }}";
    let min_samplesize = "{{ min_samplesize }}";
    let max_samplesize = "{{ max_samplesize }}";
    let min_prevalenceper10000 = "{{ min_prevalenceper10000 }}";
    let max_prevalenceper10000 = "{{ max_prevalenceper10000 }}";
    let meanincomeofparticipants = "{{ meanincomeofparticipants }}";
    let educationlevelofparticipants = "{{ educationlevelofparticipants }}";
    let studytype = "{{ studytype }}";
    let keyword = "{{ keyword }}";
    let timeline_type = "{{ timeline_type }}";
    let income = "{{ meanincome }}";
    let education = "{{ education }}";
    const world_atlas = "{% static 'autism_prevalence_map/vendor/data/110m.json' %}";
</script>  
<script src="{% static 'autism_prevalence_map/js/joint.js' %}"></script>
<script src="{% static 'autism_prevalence_map/js/list.js' %}"></script>
{% endblock %}
