{% extends 'autism_prevalence_map/base.html' %} 

{% load staticfiles %} 

{% block title %}Spectrum | Global Autism Prevalence Map{% endblock %} 

{% block css_block %}
<!-- Custom map CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" type="text/css" href="{% static 'autism_prevalence_map/css/list.css' %}">
{% endblock %} 


{% block body_block %}
<!-- Main Container
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container-fluid">    
    <div class="row">
        <div class="col">
            <!-- Keyword search and dropdown menu form
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <form class="form-inline dropdown-keyword-search">
                <label class="sr-only" for="search">Keyword Search</label>
                <input type="text" class="form-control my-1 mr-sm-2" id="search" placeholder="Search">
                <label class="my-1 mr-2" for="category">Type of Study</label>
                <select class="custom-select my-1 mr-sm-2" id="category">
                    <option value="">All</option>
                    <option value="asd">ASD</option>
                    <option value="ad">AD</option>
                    <option value="pdd">PDD</option>
                </select>
                <label class="my-1 mr-2" for="prevalence">Prevalence</label>
                <select class="custom-select my-1 mr-sm-2" id="prevalence">
                    <option value="all">All</option>
                    <option value="low">&lt;100</option>
                    <option value="med">100-200</option>
                    <option value="high">&gt;200</option>
                </select>
                <label class="my-1 mr-2" for="study_size">Study Size</label>
                <select class="custom-select my-1 mr-sm-2" id="study_size">
                    <option value="all">All</option>
                    <option value="low">&lt;10,000</option>
                    <option value="med">10,000-100,000</option>
                    <option value="high">&gt;100,000</option>
                </select>
            </form>
            <!-- list 
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <div id="list" class="table-responsive">
                <table id="studies" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Year</th>
                            <th scope="col">Author</th>
                            <th scope="col">Country</th>
                            <th scope="col">Area</th>
                            <th scope="col">Study Size</th>
                            <th scope="col">Prevalence</th>
                            <th scope="col">CI</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal_block %} 
{% endblock %} 

{% block js_block %}
<!-- Custom JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->  
<script>
    let min_year_of_publication = "{{ min_year_of_publication }}";
    let max_year_of_publication = "{{ max_year_of_publication }}";
    let min_study_size = "{{ min_study_size }}";
    let max_study_size = "{{ max_study_size }}";
    let min_prevalence_rate = "{{ min_prevalence_rate }}";
    let max_prevalence_rate = "{{ max_prevalence_rate }}";
    let category = "{{ category }}";
    let keyword = "{{ keyword }}";
</script>  
<script src="{% static 'autism_prevalence_map/js/list.js' %}"></script>
{% endblock %}
