{% extends 'autism_prevalence_map/base2.html' %} 

{% load staticfiles %} 

{% block title %}Spectrum | Global Autism Prevalence Map{% endblock %} 

{% block css_block %}
<!-- Custom map CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" type="text/css" href="{% static 'autism_prevalence_map/css/map2.css' %}">
{% endblock %} 


{% block body_block %}
<!-- Main Container
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container-fluid">    
    <div class="row">
        <div class="col no-padding-col">
            <!-- Map div
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
            <div id="map"></div>
        </div>
    </div>
    <div class="row">
        <div class="col no-padding-col">
            <!-- Timeline div
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->    
            <div class="timeline-wrapper container-fluid">
                <div class="row">
                    <div id="timeline-toggle" class='timeline-toggle col-sm-3'>
                        <h2>Timeline of Studies</h2>
                        <span class="timeline-switch">
                            <input type="checkbox" id="timeline-switch" name="timeline-switch">
                            <label for="timeline-switch">Year Published</label>
                            <span class="timeline-switch-knob"></span>
                        </span>
                        <span>Year Conducted</span>
                    </div>
                    <div id="timeline" class='ui-brush timeline col-sm-9'></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Zoom buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="zoom-buttons" class="zoom-buttons btn-group-vertical">
    <button type="button" id="zoom-in" class="btn zoom-button"><i class="fas fa-plus"></i></button>
    <button type="button" id="zoom-out" class="btn zoom-button"><i class="fas fa-minus"></i></button>
</div>

{% include "autism_prevalence_map/action_buttons.html" %}


<!-- More Information Card
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="more-information-card" class="more-information-card col-3">
    <button type="button" class="close card-close" id="card-close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="card card-style">
        <div class="card-header" id="card-title">
        </div>
        <div class="card-body">
            <h6 class="card-subtitle font-weight-bold">Country</h6>
            <p class="card-text" id="card-country"></p>
            <h6 class="card-subtitle font-weight-bold">Area</h6>
            <p class="card-text" id="card-area"></p>
            <h6 class="card-subtitle font-weight-bold">Population</h6>
            <p class="card-text" id="card-population"></p>
            <h6 class="card-subtitle font-weight-bold">Age</h6>
            <p class="card-text" id="card-age"></p>
            <h6 class="card-subtitle font-weight-bold">Diagnostic Criteria</h6>
            <p class="card-text" id="card-diagnostic_criteria"></p>
            <h6 class="card-subtitle font-weight-bold">% with Normal IQ</h6>
            <p class="card-text" id="card-pct_with_normal_iq"></p>
            <h6 class="card-subtitle font-weight-bold">Gender Ratio</h6>
            <p class="card-text" id="card-gender_ratio"></p>
            <h6 class="card-subtitle font-weight-bold">Prevalence Rate</h6>
            <p class="card-text" id="card-prevalence_rate"></p>
            <h6 class="card-subtitle font-weight-bold">Confidence Interval</h6>
            <p class="card-text" id="card-confidence_interval"></p>
        </div>

    </div>
</div>




{% endblock %}

{% block modal_block %} 
{% endblock %} 

{% block js_block %}
<!-- Mapping JS libraries
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{% static 'autism_prevalence_map/vendor/js/topojson.js' %}"></script>
<script src="{% static 'autism_prevalence_map/vendor/js/d3-array.v1.min.js' %}"></script>
<script src="{% static 'autism_prevalence_map/vendor/js/d3-geo.v1.min.js' %}"></script>
<script src="{% static 'autism_prevalence_map/vendor/js/d3-geo-projection.v2.min.js' %}"></script>

<!-- Custom JS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script>
    let min_year_of_publication = "{{ min_year_of_publication }}";
    let max_year_of_publication = "{{ max_year_of_publication }}";
    let min_study_size = "{{ min_study_size }}";
    let max_study_size = "{{ max_study_size }}";
    let min_prevalence_rate = "{{ min_prevalence_rate }}";
    let max_prevalence_rate = "{{ max_prevalence_rate }}";
    let methodology = "{{ methodology }}";
    let keyword = "{{ keyword }}";
    const world_atlas = "{% static 'autism_prevalence_map/vendor/data/110m.json' %}";
</script>
<script src="{% static 'autism_prevalence_map/js/joint2.js' %}"></script>
<script src="{% static 'autism_prevalence_map/js/map2.js' %}"></script>
{% endblock %}
