<div id="mobile-popup" class="fixed inset-0 bg-black/70 shadow-tooltip flex items-center justify-center z-50 hidden">
    <div class="bg-tan shadow-lg px-4 py-10 fixed bottom-0 left-0 w-screen md:mb-5 md:py-12 md:px-10 md:bottom-auto md:left-1/2 md:translate-y-0 md:-translate-x-1/2 md:max-w-lg lg:max-w-xl">
        <h2 class="mb-3 font-serif font-light text-dark-gray2 text-4md md:text-3lg">The prevalence map is available exclusively on desktop devices.</h2>
        <p class="mb-6 font-serif font-light text-dark-gray2 text-1sm leading-5 md:mb-10 md:text-3sm">Please use a browser on your desktop to fully utilize all the features of the prevalence map.</p>
        <a class="block bg-med-navy border-0.5 border-navy bg-blue-600 w-fit font-bold font-sans text-3xs tracking-widest-sm text-light-navy-2 uppercase px-10 py-3 rounded" href='https://www.thetransmitter.org/'>Okay</a>
    </div>
</div>
