<div id='mobile-popup' class='fixed inset-0 bg-black/70 shadow-tooltip flex items-center justify-center z-50 hidden'>
    <div class='bg-tan shadow-lg px-4 py-10 fixed bottom-0 left-0 w-screen md:mb-5 md:py-12 md:px-10 md:bottom-auto md:left-1/2 md:translate-y-0 md:-translate-x-1/2 md:max-w-lg lg:max-w-xl'>
        <h2 class='mb-3 font-serif font-light text-dark-gray2 text-4md md:text-3lg'>The Global Autism Prevalence Map is available exclusively on desktop devices.</h2>
        <p class='mb-6 font-serif font-light text-dark-gray2 text-1sm leading-5 md:mb-10 md:text-3sm'>Please use a browser on your desktop, or enlarge your browser window if already on a desktop, to access all the features of the map.</p>
        <div class='flex gap-4'>
            <button data-id='close-mobile-popup-btn' class='block bg-med-navy border-0.5 border-navy w-fit font-bold font-sans text-3xs tracking-widest-sm text-light-navy-2 uppercase px-10 py-3 rounded no-underline hover:underline hidden md:block'>Okay</button>
            <a class='block border-0.5 border-navy bg-light-gray w-fit font-bold font-sans text-3xs tracking-widest-sm text-med-navy uppercase px-10 py-3 rounded no-underline hover:underline' href='https://www.thetransmitter.org/'>RETURN TO HOMEPAGE</a>
        </div>
    </div>
    <div class='bg-[url(../img/map.jpg)] bg-cover h-full w-full md:hidden'></div>
</div>
