option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: spectrum/spectrum/wsgi.py

container_commands:
  01deploywsgi:
    command: "/bin/cp -f .ebextensions/wsgi.conf /etc/httpd/conf.d/elasticbeanstalk/"
#  02migrate:
#    command: "python3.8 spectrum/manage.py migrate"
#  03pull_studies_from_gsheets:
#    command: "python3.8 spectrum/manage.py pull_studies_from_gsheets"