packages:
  yum:
    python3-mod_wsgi.x86_64: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: spectrum/wsgi.py

container_commands:
  configure:
    command: "mv spectrum src && mv src/* ."
#  envfile:
#    command: "/opt/elasticbeanstalk/deployment/env"
#  venv:
#    command: ""
#  01deploywsgi:
#    command: "/bin/cp -f .ebextensions/wsgi.conf /etc/httpd/conf.d/elasticbeanstalk/"
#  03migrate:
#    command: "python3.8 spectrum/manage.py migrate"
#  04pull_studies_from_gsheets:
#    command: "python3.8 spectrum/manage.py pull_studies_from_gsheets"