option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: spectrum/wsgi.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static

container_commands:
  01configure:
    command: "mv spectrum src && mv src/* ."
  02collectstatics:
    command: "source $PYTHONPATH/activate && python manage.py collectstatic --noinput"
  03migrate:
    command: "source $PYTHONPATH/activate && python manage.py migrate --noinput"
  04pull_studies_from_gsheets:
    command: "source $PYTHONPATH/activate && python manage.py pull_studies_from_gsheets"