files:
    "/tmp/convert_systemd_to_script.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            sed  -e "s/\=/\=\'/g" -e "s/$/'/g" -e "s/^/export /g" /opt/elasticbeanstalk/deployment/env > /var/app/.env.spectrum

    "/etc/nginx/conf.d/elasticbeanstalk/01_statics.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            location /static/ {
                root /var/www/html/static/;
            }


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: spectrum/wsgi.py


container_commands:
  01configure:
    command: "mv spectrum src && mv src/* ."
  02createenv:
    command: "bash -c /tmp/convert_systemd_to_script.sh"
  03collectstatics:
    command: "source /var/app/.env.spectrum && source $PYTHONPATH/activate && python manage.py collectstatic --noinput"
  04migrate:
    command: "source /var/app/.env.spectrum && source $PYTHONPATH/activate && python manage.py migrate --noinput"
  05pull_studies_from_gsheets:
    command: "source /var/app/.env.spectrum && source $PYTHONPATH/activate && python manage.py pull_studies_from_gsheets"
  06reloadnginx:
    command: "nginx -t && nginx -s reload"