body {
    margin-top: 150px;
}

#content-container.container,
.hero-nav.container,
.hero-nav.container .sidebar-container {
    max-width: none;
}

.navbar-brand img {
    height: 39px;
    vertical-align: middle;
    border-style: none;
}

#right-nav-container .form-inline {
    display: none;
}

.hero-nav {
    padding-bottom: 9px;
}

.hero-nav .sidebar-container {
    top: 0;
}

aside.sidebar {
    pointer-events: none;
}
    aside.sidebar ul.chapter-navigation {
        pointer-events: all;
    }

.about#content-container .row .content:first-child h2 {
    margin-top: 2em;
}
    .about#content-container .row .content:first-child h2#about {
        margin-top: -6px;
    }

p a, ol a, .summary a {
    font-weight: normal;
}
