body {
    margin-top: 150px;
}

#content-container.container,
.hero-nav.container,
.hero-nav.container .sidebar-container {
    max-width: none;
}

.navbar-brand img {
    height: 39px;
    vertical-align: middle;
    border-style: none;
}

#right-nav-container .form-inline {
    display: none;
}

#how-to-use {
    padding-top: 90px;
    margin-top: -90px;
}