.fas-red {
    color: #ff2400;
}

.spectrum-table {
    margin-top: 20px;
}

.spectrum-table th {
    background-color: #d4d4d4;
}

.spectrum-table td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    vertical-align: top;
    border-top: 1px solid #767676;

}

.study_row {
    cursor: pointer;
}

.list-more-information {
    margin-left: 40px;
}

.list-more-information p {
    line-height: 2;
}

.country-borders {
    stroke-width: 0.5px;
}


