#map {
    height: 70vh;
}

/* .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; aspect ratio
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
} */

.zoom-buttons {
    position: absolute;
    bottom: 22vh;
    right: 15px;
}

.zoom-buttons .zoom-button {
    border-radius: 30px !important;
    background-color: #4d4d4d;
    color: #fff;
    margin: 10px 0;
    padding: 3px 8px;
}

.graticule {
    fill: none;
    stroke:#ccc;
    stroke-width: 0.5px;
}

.more-information-card {
    display: none;
    position: absolute;
    top: 100px;
    left: 15px;
}

.card-header {
    color: #fff;
    background-color: #009BCC;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-close {
    position: absolute;
    top: 11px;
    right: 25px;
    z-index: 1;
    text-shadow: none;
    opacity: 1;
    color: #fff;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #eee;
    text-decoration: none;
    opacity: 1;

}

.ui-brush {
    background: #4d4d4d;
    height: 19vh;
}

.brush .extent {
    stroke: #4d4d4d;
    fill-opacity: 0.125;
    shape-rendering:crispEdges;
}

.brush .selection {
    stroke: #fff;
    fill: #A7A7A7;
    stroke-dasharray: 5;
}

.timeline-wrapper:first-child:before {
    content:'';
    position:absolute;
    width:100%;
    height:5px;
    top:-5px;
    left:0;
    background-color: #34BBEC;
    background-image: -webkit-linear-gradient(left, #65D5EF, #34BBEC);
    background-image: linear-gradient(to right, #65D5EF, #34BBEC);
}

.timeline-wrapper {
    background-color: #4d4d4d;
    height: 21vh;
}

.timeline-toggle {
    padding-top: 30px;
    padding-left: 30px;
    color: #fff;
}

/* Switch CSS */
.timeline-switch {
    position: relative; 
}

.timeline-toggle span {
    display: none;
}

.timeline-switch > [type="checkbox"]:checked,
.timeline-switch > [type="checkbox"]:not(:checked) {
    width: 0;
    height: 0;
    display: none;
    opacity: 0; 
}

.timeline-switch > [type="checkbox"]:checked + label,
.timeline-switch > [type="checkbox"]:not(:checked) + label {
    cursor: pointer;
    display: inline-block;
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding-right: 45px; 
}
    
.timeline-switch > [type="checkbox"]:checked + label:after,
.timeline-switch > [type="checkbox"]:not(:checked) + label:after {
    content: "";
    top: -2px;
    right: 3px;
    width: 50px;
    height: 24px;
    position: absolute;
    border-radius: 30px; 
}

.timeline-switch > [type="checkbox"]:checked + label + .timeline-switch-knob,
.timeline-switch > [type="checkbox"]:not(:checked) + label + .timeline-switch-knob {
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
    pointer-events: none;
    box-shadow: 1px 1px 1px #34BBEC;
    -webkit-transition: right .1s ease-in, background-color .1s ease-in;
    -moz-transition: right .1s ease-in, background-color .1s ease-in;
    -o-transition: right .1s ease-in, background-color .1s ease-in;
    -ms-transition: right .1s ease-in, background-color .1s ease-in; 
}

.timeline-switch > [type="checkbox"]:checked:focus + label:after, .timeline-switch > [type="checkbox"]:checked:focus + label + .timeline-switch-knob,
.timeline-switch > [type="checkbox"]:not(:checked):focus + label:after,
.timeline-switch > [type="checkbox"]:not(:checked):focus + label + .timeline-switch-knob {
    box-shadow: 0 0 6px 0 #fff; 
}

.timeline-switch > [type="checkbox"]:checked[disabled] + label, .timeline-switch > [type="checkbox"]:checked[disabled] + label:after, .timeline-switch > [type="checkbox"]:checked[disabled] + label + .timeline-switch-knob,
.timeline-switch > [type="checkbox"]:not(:checked)[disabled] + label,
.timeline-switch > [type="checkbox"]:not(:checked)[disabled] + label:after,
.timeline-switch > [type="checkbox"]:not(:checked)[disabled] + label + .timeline-switch-knob {
    cursor: not-allowed;
    opacity: 0.4; 
}

.timeline-switch > [type="checkbox"]:checked + label:after {
    background-color: #34BBEC; 
}

.timeline-switch > [type="checkbox"]:not(:checked) + label:after {
    background-color: #34BBEC; 
}

.timeline-switch > [type="checkbox"]:checked + label + .timeline-switch-knob {
    right: 6px;
    background-color: #fff; 
}

.timeline-switch > [type="checkbox"]:not(:checked) + label + .timeline-switch-knob {
    right: 30px;
    background-color: #fff; 
}

.timeline-axis {
    color: #fff;
    font-size: 14px;
    font-family: "azo-sans-web", sans-serif;  
}

.card-style {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

.grid {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}
