@font-face {
    font-family: 'GothiaSans';
    src: url('../fonts/GothiaSansCompleteWeb/GothiaSans-Medium.woff2') format('woff2'),
         url('../fonts/GothiaSansCompleteWeb/GothiaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GothiaSans';
    src: url('../fonts/GothiaSansCompleteWeb/GothiaSans-Bold.woff2') format('woff2'),
         url('../fonts/GothiaSansCompleteWeb/GothiaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    height: 100vh;
    padding-top: 4.5rem;
    font-family: "azo-sans-web", sans-serif; 
    font-weight: 200;
    font-style: normal;
}

/* #studytype {
    width: 100px;
} */

.spectrum-button {
    background-color: #34BBEC;
    color: #fff;
}

.centered-title {
    text-align: center;
}
/* 
.navbar-brand-text {
    margin-left: 30px;
} */

.spectrum-form {
    background-color: transparent;
    font-family: 'GothiaSans', sans-serif;
    font-size: 0.687rem;
    font-weight: 700;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #003049 !important;
    border: 1px solid #003049;
    border-left: none;
    padding: .24rem .75rem .16rem .438rem;
    width: 15.5rem;
    height: 1.688rem;
    border-radius: .813rem;
}

.spectrum-form:focus {
    color: #003049 !important;
    background-color: transparent;
    border: 1px solid #003049;
    border-left: none;
    outline: 0;
    box-shadow: none;
}

.spectrum-form::placeholder { 
    color: #6c8291;
}

.spectrum-append.input-group-text {
    background-color: transparent;
    border: 1px solid #003049;
    border-right: none;
    color: #003049;
    padding: .2rem 0 .2rem .4rem;
}

.input-group>.input-group-append:not(:last-child)>.spectrum-append.input-group-text {
    border-radius: .813rem 0 0 .813rem;
}

.navbar .form-inline>.input-group {
    width: 15.5rem;
}

/* .spectrum-append:focus {
    background-color: transparent;
    border: 2px solid #fff;
    border-left: none;
    color: #fff; 
} */

/* bootstrap overrides */

.navbar-brand {
    padding: 0;
    margin-right: 1.75rem;
    vertical-align: middle;
}

.navbar-brand-text {
    display: none;
    font-family: 'GothiaSans', sans-serif;
    font-size: 1.438rem;
    letter-spacing: 0.06em;
    font-weight: 500;
    line-height: 100%;
    color: #2E5367 !important;
    text-transform: uppercase;
    transform: translateY(4px);
}

.navbar-brand img {
    display: block;
}

.nav-tabs {
    border: none;
}

.navbar {
    background-color: #FFF;
    border-bottom: solid 1px #000;
    flex: 1;
    padding: 1.125rem 1rem;
}

.navbar .left {
    flex: 1;
    justify-content: flex-start;
}
.navbar .middle {
    display: none;
}
.navbar .right {
    display: contents;
}

.nav-tabs .nav-link {
    font-family: 'GothiaSans', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    letter-spacing: 0.16em;
    color: #003049;
    padding: 0.5rem 1rem;
    /* padding-bottom: 17px; */
    border-bottom: none;
    text-transform: uppercase;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #003049;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: #003049;
    border-top: none;
    border-left: none;
    border-right: none;
}

.action-buttons {
    position: fixed;
    top: 72px;
    right: 0;
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.action-buttons .action-button {
    border-radius: 0;
    background-color: #fff;
    color: #4d4d4d;
}

.no-padding-col {
    padding-right: 0;
    padding-left: 0;
}

.tooltip {
    font-family: "azo-sans-web", sans-serif; 
    font-size: 12px;
}

.tooltip-inner {
    background-color: #009bcc;
    border-radius: 0;
    padding: 0.10rem .5rem;
}

.bs-tooltip-auto[x-placement^="top"] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #009bcc;
}

.dropdown-keyword-search {
    position: fixed;
    top: 70px;
    right: 42px;
}

.dropdown-keyword-search.card {
    box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.dropdown-keyword-search .card-body {
    padding: 0.75rem;
}

.dropdown-keyword-search label {
    border: 1px solid #4d4d4d;
    padding: 5px;
    margin-bottom: -4px;
    width: 112px;
    background-color: #4d4d4d;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    display: block;
}

.dropdown-keyword-search select {
    width: 112px;
}

.dropdown-keyword-search .form-group {
    margin-bottom: 5px;
}

.dropdown-keyword-search .custom-select {
    border-radius: 0;
}

.countries {
    fill: #ccc;
    fill-opacity: 1;
}

.country-borders {
    fill: #fff;
    fill-opacity: 0;
    stroke: #fff;
}

.navbar-expand-xl .navbar-toggler {
    display: block;
    float: right;
} 

.navbar-expand-xl .collapse:not(.show) {
    display: none !important;
} 

.navbar-expand-xl .collapse.show {
    display: flex;
} 

.navbar-expand-xl .collapse.show ul {
    display: flex;
}

.navbar-expand-xl .collapse.show .form-inline {
    display: flex;
    flex-flow: row wrap;
}


.navbar-expand-xl .collapse.show .nav-item {
    margin: 8px 0;
}

@media (min-width: 768px) { 
    .navbar-brand-text {
        display: inline-block;
    }
}

@media (min-width: 1300px) { 
    .navbar-expand-xl .navbar-toggler {
        display: none;
    } 
    
    .navbar-expand-xl .collapse:not(.show) {
        display: flex !important;
        justify-content: right;
    } 

    .navbar .right {
        display: flex;
        flex: 1;
        justify-content: right;
    }

    .navbar .middle {
        display: flex;
        flex: 1;
        justify-content: center;
    }
}



